{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block body %}
    {% include("view/nav.html.twig") %}
    <h1 class="py-5 text-center">Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>ImagePath</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.imagePath }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <button class="btn btn-outline-danger"><a href="{{ path('product_show', {'id': product.id}) }}">show</a></button>
                    <button class="btn btn-outline-danger"><a href="{{ path('product_edit', {'id': product.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-outline-primary"><a href="{{ path('product_new') }}">Créer un produit</a></button>
    </div>

{% endblock %}
